h1 {
  color: black;
}

ul {
  list-style: none;
}

.gh-reponame {

  margin: 20px 0;
  font-weight: bold;
  .gh-repodesc {
    font-weight: normal;
    padding-left: 20px;
  }
}

a {
  text-decoration: none;
  color: #48a;
}
