h1 {
  color: black;
}

ul {
  list-style: none;
}

.user-repo-list {
  width: 85%;
}

.gh-reponame {
  margin: 20px 0;
  font-weight: bold;
  background: #ccc;
  a {

  }
  .gh-repodesc {
    font-weight: normal;
    margin-left: 20px;
    padding: 20px;

  }
}

a {
  text-decoration: none;
  color: #48a;
}
